:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --broder-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --navbar-height: 34px;
    --header-height: 300px;
    --header-with-search-height: calc(var(--header-height)- var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
 /* responsive*/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}

.grid-full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -5px;
    margin-right: -5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn.btn_nomal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn_primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn_disable {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
.btn.btn_size_s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
/* test */
.grid-colum-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid-colum-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid-colum-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* selecttion*/
.select_input {
    min-width: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    height: 34px;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--white-color);
}
.select_input::after {
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        top: 25px;
        left: 0;
        position: absolute;
}
.select_input:hover .select_input_list {
    display: block;
}
.select_input_icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select_input_list {
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    z-index: 1;
    display: none;
}
.select_input_link {
    font-size: 1.4rem;
    padding: 5px 0;
    text-decoration: none;
    display: block;
    color: var(--text-color);
}
.select_input_link:hover {
    color: var(--primary-color);
}
